.mang{
	margin: 2px;
	clear:both;	
}
.essa{
	position: absolute;	
	left: 110px;
}
.tessa{
	position: absolute;	
	left: 160px;
}
.voistkond2{
	position: absolute;	
	left: 220px;
}
.tessa, .essa, .voistkond, .voistkond2{
	float:left;
}
#grupp input, #kuusteist input, #kaheksa input, #neli input,  #finaal input {
	width: 35px;
	margin: 2px;
}
input[type="number"].mod::-webkit-outer-spin-button, 
input[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"].mod::-webkit-inner-spin-button:hover,
input[type="number"].mod::-webkit-inner-spin-button:active{
   	box-shadow: 0 0 2px #0CF;
    opacity: .8;
}
input[type=number] {
   	-moz-appearance:textfield;
}		
.tabel {
	float:left;
	position: absolute;
	left: 450px;
	top: 25px;
}
table, th, td {
  	border: 1px solid black;
  	margin: 0px;
  	padding: 2px;
}
table {
	margin-top: 41px;	
}
td {
	text-align: center;		
}
h1 {
	margin-top: 33px;
	margin-bottom: 25px;
}
#kuusteist{
	display:block;
}
#btn{
	margin: 5px;
	padding: 10px;
	height: 30px;
	width: 150px;
}
#button1{
	display:block;
}
